.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  position: relative;
  margin-bottom: 70px;
  margin-top: 30px;
}

.root > h2 {
  font-size: 32px;
  color: #4589ce;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.links a {
  text-transform: uppercase;
  font-weight: regular;
  line-height: 32px;
  transition: opacity 0.1s ease, color 0.1s ease;
  color: #8c867f;
}

.links a.activeLink {
  color: #e1d9ce;
}

.links a:hover {
  opacity: 0.85;
}

.links :not(:last-of-type) {
  margin-right: 25px;
}

.burger {
  cursor: pointer;
  display: none;
}

.burger div {
  width: 24px;
  height: 2px;
  background-color: white;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.burger div:not(:last-of-type) {
  margin-bottom: 4px;
}

.root.active .burger div:first-child {
  transform: translateY(6px) rotate(45deg);
}

.root.active .burger div:nth-child(2) {
  opacity: 0;
}

.root.active .burger div:last-child {
  transform: translateY(-6px) rotate(-45deg);
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .links {
    position: absolute;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: var(--theme-color);
    top: 0;
    margin-top: 70px;
    align-items: stretch;
    text-align: right;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-bottom: 0.5px #8c867f solid;
  }

  .links a {
    padding-right: 5px;
  }

  .root.active .links {
    transform: none;
    opacity: 1;
    pointer-events: all;
  }

  .links :not(:last-of-type) {
    margin: 0;
  }
  .links :last-of-type {
    margin-bottom: 15px;
  }
}
